<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <%= "Member Deatils" %>
  </div>
  <div class="card-body">
    <p>
      <strong>First name:</strong>
      <%= @member.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @member.last_name %>
    </p>

    <p>
      <strong>Contact number:</strong>
      <%= @member.phone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @member.email %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @member.address %>
    </p>
  </div>

  <div class="p-3">
    <div class="card">
      <div class="card-header">
        <%= "Match Deatils" %>
      </div>
      <div class="card-body">
        <p>
          <strong>Number of wins: <%= @win %></strong>
        </p>
        <p>
          <strong>Number of losses: <%= @los %> </strong>
        </p>
        <p>
          <strong>Average score: <%= @member.average_score %></strong>
        </p>
        <p>
          <strong>Highest score: </strong>
          <ul>
            <li>Score - <%= @member.highest_score.dig(:score) %></li>
            <li>When - <%= @member.highest_score.dig(:match_time) %></li>
            <li>Against - <%= @member.highest_score.dig(:another_player) %></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>

<br/>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>